html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: yellow;
    width: 100%;
    height: 100%;
}

.container {
    background: black;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;

    grid-gap: 5px;

    justify-content: space-evenly;
    align-content: space-evenly;
}

.container > div {
    background: pink;
}
